:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #ffffff;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
ul {
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
button {
  border: none;
}
/*top-line*/
.section-header {
  width: 100%;
  background: #ffffff;
  padding: 15px 0;
  border-bottom: 1px solid #ececec;
}
.header-container {
  align-items: center;
  display: flex;
}

.top-line-link {
  margin-right: 93px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
  color: #000;
  text-decoration: none;
}
ul {
  list-style: none;
}
.list {
  list-style: none;
}

.top-line-link:hover {
  color: #2196f3;
}

.span {
  color: #2196f3;
}
.top-link {
  display: flex;
}
.link1:hover {
  color: #2196f3;
}
.link1 {
  margin-right: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.link2:hover {
  color: #2196f3;
}
.link2 {
  margin-right: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.link3:hover {
  color: #2196f3;
}
.link3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.adress {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mail-link:hover {
  color: #2196f3;
}
.header-mail-link {
  margin: 32px 50px 32px 331px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
.header-tel-link:hover {
  color: #2196f3;
}
.header-tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}
/*Portfolio*/

.section {
  padding: 94px 0;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
}

.filters-portfolio {
  margin-left: 495px;
  margin-bottom: 50px;
}
.filters {
  display: flex;
}
.button {
  padding: 6px 22px;
  margin-right: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: #f5f4fa;
}

.button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.portfolio-img {
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  margin-top: 34px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container2 {
  margin-top: 34px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container3 {
  margin-top: 34px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container4 {
  margin-top: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container5 {
  margin-top: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container6 {
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container7 {
  margin-top: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container8 {
  margin-top: 30px;
  margin-right: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.container9 {
  margin-top: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.title {
  padding: 15px 15px;
}
.title-container {
  margin: 20px 24px 4px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.name {
  margin: 4px 24px 20px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

/*footer*/

.footer {
  width: 100%;
  padding: 60px 0;
  background-color: black;
}
.footer-link {
  color: #ffffff;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-link:hover {
  color: #2196f3;
}
.footer-text {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.mail-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.mail-link:hover {
  color: #2196f3;
}
.tel-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.tel-link:hover {
  color: #2196f3;
}
